body {
    text-align: center;
    margin: 0 auto;
    padding: 140px 10px 0 10px;
    background-color: #e5e5e5;
}

a {
    text-decoration: none;
    color: black;
}


.section_main {
    margin: 15px auto;
    width: 1000px;
    height: 480px;
    box-sizing: border-box;
    padding: 10px;
}

// ヘッダー
@import "../parts/header";

// 表
@import "../parts/table";

table{
    width: 100%;
}

// 検索バー
@import "../parts/search";

.section_header {
    width: 70%;
}

// ページ変更
// .page_back{
//     background-color: white;
//     position: fixed;
//     z-index: 900;
//     top: 130px;
//     right: 15px;
//     button{
//         font-size: 25px;
//         margin: 0 10px;
//         &:hover{
//             text-decoration: underline;
//         }
//     }
// }

.page_head{
    display: flex;
    position: fixed;
}


.section_header {
    display: flex;
    justify-content:unset;
    // font-size: 30px;
    // width: 90%;
    // margin: 0 auto;
}

.section_header {
    // width: 100%;
    // margin: 0px 38%;
    div{
        width: 30px;
    }
    width: 20%;
}

.search_container {
    width: 25%;
}

.section_header h3 {
    margin-top: 7px;
    margin-left: 340px;
}

h2{
    font-size: 25px;
    margin: 5px;
    margin-bottom: 10px;
}

.detail_focus{
    text-decoration: underline #000;
}

.wrap{
    overflow: scroll;
    height: 450px;
    width: 100%;
    border-radius: 10px;
}