header{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0%;
  width: 100vw;
  background-color: $bgcolor;
  color: #fff;
  text-align: center;
  height: 100px;
  & img{
    width: auto;
    height: 62px;
    object-fit: cover;
  }
  & nav{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    // & h5{
    //   margin-top: 12px;
    // }
  }
}

.compareBar{
  position: fixed;
  top: 110px;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 99;
  & select{
    width: 40%;
    // border: #000 solid 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
    background-color: #fff;
    background-image: url(img/iconmonstr-angel-down-circle-thin-240.png);
    background-position: right 5px center;
    background-size: 30px 30px;
  }
  & button{
    background-color: orange;
    box-shadow: 2px 2px 5px rgba(255, 165, 0,.6);
    padding: 10px 30px;
    border-radius: 1px;
    font-weight: 700;
  }
}