html {
  height: 1vh;
}

body {
  text-align: center;
  margin: 0 auto;
  padding: 150px 0 0 0;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  color: black;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: #44B59A;
  z-index: 500;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  width: 80%;
}

header nav h5 {
  font-size: 20px;
}

header a {
  background-color: transparent;
}

header a:active, header a:hover {
  outline-width: 0;
}

.header_top {
  height: 60px;
  width: 100%;
  color: #fff;
  font-size: 23px;
  text-align: center;
  line-height: 60px;
}

.header_top span {
  font-size: 18px;
}

.header_bottom {
  width: 100%;
  font-size: 25px;
  text-align: right;
  margin-bottom: 10px;
}

.header_bottom img {
  width: 50px;
  height: 50px;
  vertical-align: -63%;
}

.header_bottom a {
  color: #FF9538;
  padding: 0 10px;
}

.page_focus {
  -webkit-text-decoration: underline #000;
          text-decoration: underline #000;
}

.contact-ttl {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.contact-table {
  width: 80%;
  margin: 15px auto;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.contact-item,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
}

.contact-item {
  text-align: left;
  width: 20%;
  background-color: #eee;
}

.contact-body {
  width: 70%;
}

.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
}

.contact-sex + .contact-sex {
  margin-left: 10px;
}

.contact-sex-txt {
  display: inline-block;
  margin-left: 5px;
}

.form-select {
  width: 180px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-skill {
  display: block;
}

.contact-skill + .contact-skill {
  margin-top: 10px;
}

.contact-skill-txt {
  display: inline-block;
  margin-left: 5px;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-submit {
  width: 250px;
  background-color: #F37E12;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  opacity: 1;
}

.contact-submit:hover {
  opacity: 0.8;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 850px;
  table-layout: fixed;
}

table tr {
  background-color: #fff;
  border: 2px solid #eee;
}

table tr:last-child {
  border: none;
}

table th {
  width: 120px;
  padding: 10px 0;
  border-right: 2px solid #fff;
}

table td {
  border-right: 2px solid #eee;
  text-align: center;
  padding: 5px;
}

table th {
  font-size: .85em;
}

table thead tr {
  background-color: #50535d;
  color: #fff;
}

table tbody th {
  border-right: 2px solid #eee;
}

th.non {
  border-right: none;
}

.txt {
  text-align: left;
  font-size: .85em;
}

.price {
  color: #000;
  font-size: .85em;
}

.price span {
  font-size: .6em;
}

.graph_number {
  width: 50px;
  height: 50px;
}

#input_plural {
  margin: 10px 0;
}

#input_plural input.form-control {
  display: inline-block;
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
}

#input_plural input.pluralBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

section h2 {
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */