html{
    height: 1vh;
}

body{
    text-align: center;
    margin: 0 auto;
    padding: 150px 0 0 0;
    background-color: #e5e5e5;
}

a{
    text-decoration: none;
    color: black;
}

// ヘッダー
@import "../parts/header";

// 登録フォーム
@import "../parts/submit";

section{
    h2{
        font-size: 25px;
    }
}