body {
    text-align: center;
    margin: 0 auto;
    padding: 130px 10px 0 10px;
    background-color: #e5e5e5;
}

a{
    text-decoration: none;
    color: black;
}

// ヘッダー
@import "../parts/header";

section{
    padding-top: 50px;
    h2{
        font-size: 20px;
    }
    span{
        display: block;
        font-size: 33px;
        margin: 10px 0;
    }
    p{
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
}

.info_box{
    font-size: 25px;
    width: 44%;
    height: 10rem;
    margin: 10px auto;
    padding: 35px 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    h3{
        margin: 10px 0;
    }
}