html{
    height: 1vh;
}

body{
    text-align: center;
    margin: 0 auto;
    padding: 150px 0 0 0;
    background-color: #e5e5e5;
}

a{
    text-decoration: none;
    color: black;
}

// ヘッダー
@import "../parts/header";

// 表
@import "../parts/table";


// 学生氏名検索バー
.student_search{
    display: flex;
    height: 50px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
    input{
        height: 25px;
        width: 250px;
        &[type="submit"] {
            /* ～送信ボタン専用の装飾～ */
            width: 50px;
        }
    }
    h1{
        font-size: 30px;
    }
    .search_container{
        margin: 0 auto;
    }
}

.number{
        position: absolute;
        right: 10%;
    h3{
        margin-top:7px;
    }
    span {
        background-color: #eee;
        padding: 5px 10px;
        font-size: 20px;
        margin-left: 15px;
        border-radius: 10px;
    }
}

// 編集申請ボタン
button{
    display: block;
    width: 150px;
    height:40px;
    background-color: #F68807;
    opacity: 0.8;
    margin: 30px auto;
    &:hover{
        opacity: 1;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}