$bgcolor : #44B59A;

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden !important;
    padding: 160px 10px 0 10px;
    background-color: #e5e5e5;
}

section {
    h2 {
        font-size: 25px;
    }
}


h1 {
    font-size: 30px;
}


.section_main {
    margin: 5px auto;
    width: 1000px;
    height: 490px;
    background-color: #e5e5e5;
    box-sizing: border-box;
    padding: 10px;
}



// ヘッダー
@import "../parts/header";

header {
    h1 {
        font: inherit;
    }
}

.header_top {
    span {
        font-size: 18px;
        font-weight: normal;
    }
}

.header_bottom {
    img {
        vertical-align: -42%;
    }
}

// 掲載情報コンテンツ
@import "../parts/agentlist";

.agentlist-item {
    margin-top: 30px
}

//コンテンツカード
@import "../parts/card";
//契約情報
@import "../parts/contract_info";


.main {
    width: 60vw;
    margin: 0 auto;
    position: relative;
    z-index: 90;
}

// 詳細ページを最初非表示にしておく
#detail {
    display: none;
}

// 契約情報ページを最初非表示にしておく
#info {
    display: none;
}

// ページ内遷移ヘッダー
.page_change {
    position: absolute;
    display: none;
    background-color: #B6D7A8;
    width: 250px;
    top: 130px;
    left: 7px;

    button {
        display: block;
        font-size: 20px;
        margin: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}

// 編集ボタン
.edit {
    position: fixed;
    text-decoration: none;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF9538;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
    line-height: 1.3;
    font-weight: bold;
    border: 3px solid #fcfafa;

    a {
        color: #fff;
    }
}

// 掲載情報変更ボタン
.pages_button {
    img {
        height: 37px;
        vertical-align: -25%;
    }

    h1 {
        display: inline-block;
        font-weight: 100;
    }

    &:hover {
        opacity: 0.5;
    }
}

.visual_set {
    display: block;
}


.cp_ipselect {
    position: relative;
    width: 60%;
    margin: 2em auto;
    text-align: center;
}

.cp_sl02 {
    position: relative;
    font-family: inherit;
    // background-color: transparent;
    background-color: #fff;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.cp_sl02:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.cp_ipselect .cp_sl02 {
    appearance: none;
    -webkit-appearance: none
}

.cp_ipselect select::-ms-expand {
    display: none;
}

.cp_ipselect:after {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.cp_sl02_selectlabel {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

.cp_sl02:focus~.cp_sl02_selectlabel,
.cp_sl02:valid~.cp_sl02_selectlabel {
    color: #da3c41;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

.cp_sl02_selectbar {
    position: relative;
    display: block;
    width: 100%;
}

.cp_sl02_selectbar:before,
.cp_sl02_selectbar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #da3c41;
    transition: 0.2s ease all;
}

.cp_sl02_selectbar:before {
    left: 50%;
}

.cp_sl02_selectbar:after {
    right: 50%;
}

.cp_sl02:focus~.cp_sl06_selectbar:before,
.cp_sl06:focus~.cp_sl06_selectbar:after {
    width: 50%;
}

.cp_sl02_highlight {
    position: absolute;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}