.cliant_info{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    // box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
    width: 96%;
    height: 270px;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-bottom: -88px;
    border-radius:10px;
    h3{
        line-height: 48px;
        font-size: 19px;
        height: 45px;
    }
    input{
        line-height: 48px;
        font-size: 19px;
        height: 32px;
        width: 246px;
        font-family: auto;
        box-sizing: border-box;
        padding: 3px 0;
        padding-top: 3px;
        margin-left: -2px;
    }
    .client_img{
        display: block;
        width: 70%;
        height: 55%;
        color: #ffffff;
        background-image: url('https://kyoto-np.ismcdn.jp/mwimgs/e/e/288wm/img_eeb79e5b42bd54030fcd98f5905d7c9126055.jpg');
        cursor: pointer;
        background-size:cover;
        margin-left: 26px;
    }
    button{
        display: block;
        width: 72%;
        height:30px;
        margin: 29px 0 20px 26px;
        color: #fff;
        background-color: #F68807;
        border-radius: 5px;
        box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
    label {
        display: block;
        width: 83%;
        height: 55%;
        border: solid 1px black;
        box-sizing: border-box;
        margin-right: 5%;
        color: #ffffff;
        background-image: url('https://kyoto-np.ismcdn.jp/mwimgs/e/e/288wm/img_eeb79e5b42bd54030fcd98f5905d7c9126055.jpg');
        cursor: pointer;
        background-size:cover;
        &:hover{
            filter: blur(3px);
        }
    }

    p {
        font-size: 12px;  
    }

    span{
        display: block;
        padding: 3px;
        margin-top: 7px;
    }
}

// ファイル選択ボタンを非表示
input[type="file"] {
    display: none;
}


// 編集ボタン/確定ボタン
.edit_button{
    margin: 0 !important;
    width: 85% !important;
}

.client_content{
    text-align: center;
    width: 100%;
}