header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #44B59A;
    z-index: 500;

    nav {
        display: flex;
        justify-content: space-around;
        color: #fff;
        width: 80%;
        h5{
            font-size: 20px;
        }
    }

    a{background-color:transparent}a:active,a:hover{outline-width:0}
}

.header_top {
    height: 60px;
    width: 100%;
    color: #fff;
    font-size: 23px;
    text-align: center;
    line-height: 60px;

    span {
        font-size: 18px;
    }
}

.header_bottom {
    width: 100%;
    font-size: 25px;
    text-align: right;
    margin-bottom: 10px;

    img {
        width: 50px;
        height: 50px;
        vertical-align: -63%;
    }

    a {
        color: #FF9538;
        padding: 0 10px;
    }
}

.page_focus{
    text-decoration: underline #000;
}