body {
    text-align: center;
    margin: 0 auto;
    padding: 150px 10px 0 10px;
    background-color: #e5e5e5;
}


a{
    text-decoration: none;
    color: black;
}

// ヘッダー
@import "../parts/header";

// お問い合わせページ遷移ボタン
button{
    display: block;
    width: 150px;
    height:40px;
    background-color: #F68807;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}

// 表
@import "../parts/table";

table{
    width: 100%;
}

.section_header {
    width: 33%;
}

.section_top{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
    h3{
        font-size: 20px;
        width: 200px;
        margin-top:7px;
        margin-left: 40px;
    }
    select {
        background-color: #fff;
        // box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        border: none;
        padding: 0 5px;
        font-size: 30px;
        margin-right: 10px;
    }
    form{
        display: inline;
    }
}




.section_content{
    display: flex;
    padding: 10px 3%;
}


// サイドバー
.section_side{
    height: 17rem;
    width: 934px;
    margin-top: 10%;
    margin-right: 1rem;
    text-align: left;
    padding: 50px 20px;
    font-size: 20px;
    background-color: #fff;
    // box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    h3{
        margin: 20px 0;
    }
    button{
            display: block;
            width: 150px;
            height:50px;
            margin: 0 auto 10px auto;
            color: #fff;
            background-color: #F68807;
            opacity: 0.8;
            &:hover{
                opacity: 1;
            }
    }
    a{
        color: blue;
        font-size: 14px;
        text-decoration: underline;
    }
    span{
        font-size: 12px;
    }
}

// 請求情報バー
.invoice_info{
    display: flex;
    background-color: #fff;
    // box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    font-size: 20px;
    width: 70%;
    height: 55px;
    padding: 0 45px;
    border-radius: 10px;
    h2{
        line-height: 58px;
        width: 30%;
    }
    .number{
        width: 36%;
    }
}


.main_box{
    width: 350%;
}

.wrap{
    overflow: scroll;
    height: 450px;
    border-radius: 10px;
}

// 学生情報検索バー
.student_search{
    display: flex;
    height: 50px;
    padding: 0 5%;
    form{
        margin: 0 10%;
    }
    input{
        height: 25px;
        width: 250px;
        &[type="submit"] {
            /* ～送信ボタン専用の装飾～ */
            width: 50px;
        }
    }
    h1{
        font-size: 28px;
    }

    .search_container{
        // margin: 0 98px;
    }
}


// 掲載情報変更ボタン
.page_back{
    background-color: white;
    position: fixed;
    z-index: 900;
    top: 130px;
    right: 15px;
    button{
        font-size: 25px;
        margin: 0 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}